h5{
	coLor: blue;
}

.headone{
	background-color: limegreen;
}

.border{
	border: 10px solid red;
}

#h1{
    font-size: 50px;
}

#h2{
	font-size: 100px;
}

h1{
	color: blue;
}

.h1{
	coLor: red;
}

#h1{
    color: green;
}

.box{
	width: 100rem;
	height: 200px;
	background-color:#705e5e;
}